* {
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

.header {
    background-color: #000000;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 10px;
    text-align: center;
}

.container {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.container .add {
    background-color: #000000;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    height: 60px;
    width: clamp(350px, 90vw, 650px);
    margin: 20px 0px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.container .add:hover {
    opacity: 0.8;
}

.container .add:active {
    opacity: 0.6;
}

.container .content {
    border: 2px solid #000000;
    border-radius: 15px;
    height: clamp(400px, 70vh, 800px);
    width: clamp(350px, 90vw, 650px);
    display: grid;
    grid-template-rows: repeat(auto-fit, 100px);
    overflow: auto;
}

/* dynamic book elements from JS */

.container .content .book {
    border-bottom: 2px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container .content .book .book-info {
    padding: 0px 10px;
}

.container .content .book .book-info .title {
    font-weight: bold;
}

.container .content .book .book-info .author {
    color: #6e6e6e;
    font-style: italic;
    margin-top: 5px;
}

.container .content .book .right-content {
    flex: none;
    display: flex;
    padding: 0px 10px;
    justify-self: end;
    align-items: center;
}

.container .content .book .right-content .book-status .read-status {
    border-radius: 4px;
    color: white;
    margin-top: 5px;
    padding: 5px;
}

/* book status */

.container .content .book .right-content .book-status .read-status.not-started {
    background-color: red;
}

.container .content .book .right-content .book-status .read-status.in-progress {
    background-color: orange;
}

.container .content .book .right-content .book-status .read-status.completed {
    background-color: green;
}

.container .content .book .right-content button {
    background-color: white;
    border: none;
    margin-left: 20px;
}

.container .content .book .right-content button .bin {
    height: 32px;
    width: auto;
}

footer {
    color: #000000;
    font-size: 0.8rem;
    padding: 10px;
    text-align: center;
}

#github {
    color: #000000;
}

/* pop up form */

.form-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: none;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    align-items: center;
}

.form-window {
    background-color: white;
    border: 2px solid #000000;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.form-window > button {
    background-color: white;
    border: none;
    justify-self: end;
    align-self: center;
}

.form-window button .close {
    height: 24px;
    width: auto;
}

.form-window .add-book-form {
    align-self: center;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.form-window .add-book-form ul {
    align-self: center;
}

.form-window .add-book-form li {
    display: flex;
    margin: 20px 0px;
    align-items: center;
}

.form-window .add-book-form li .label-box {
    width: 80px;
}

.form-window .add-book-form li input,
.form-window .add-book-form li select
 {
    font-size: 0.8rem;
    height: 25px;
    width: 200px;
}

.form-window .add-book-form .done {
    justify-self: center;
    align-self: center;
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    margin-top: 30px;
    padding: 6px 24px;
}

.form-window .add-book-form .done:hover {
    opacity: 0.8;
}

.form-window .add-book-form .done:active {
    opacity: 0.6;
}